# Add documentation: I don't use add_data_dir and add_data_file in setup.py
# since I don't want to include this at installation , only sdist-generated tarballs
recursive-include sphinx/source *
include sphinx/make.bat
include sphinx/Makefile

include INSTALL
include LICENSE
include requirements.txt
include requirements-dev.txt
include MANIFEST.in
include README.md

# Add examples folder, only in sdist-generated tarballs
include pypec/icon.png 