[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy="==1.17"
matplotlib="==3.0.0"
scipy="==1.5"

[dev-packages]
sphinx="*"
numpydoc="*"
pylint = "*"
mypy = "*"

[requires]
python_version = "3.7"